.inlineTextContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.contentContainerBottom {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: var(--darkColor2);
}