.contentLeft {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex: 0 1 200px;
    /* margin-right: auto; */
}

.contentMiddle {
    flex: 0 1 400px;

}

.contentRight {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex: 0 1 200px;
    /* margin-left: auto; */
}