.avatar {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 20vh;
    width: 20vw;
    position: relative;
    margin: 0 1vw;
}

.landingPage {
    background-image: url('../src/assets/images/PV_hi.png');
}

.fePage {
    background-image: url('../src/assets/images/PV_fe.png');
}

.bePage {
    background-image: url('../src/assets/images/PV_be.png');
}

.pmPage {
    background-image: url('../src/assets/images/PV_pm.png');
}

.deployPage {
    background-image: url('../src/assets/images/PV_deploy.png');
}

.contactPage {
    background-image: url('../src/assets/images/PV_contact.png');
}