.avatar {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;

    width: 25vw;
    height: 30vh;
}

.landingPage {
    background-image: url('../assets/images/PV_hi.png');
}

.fePage {
    background-image: url('../assets/images/PV_fe.png');
}

.bePage {
    background-image: url('../assets/images/PV_be.png');
}

.pmPage {
    background-image: url('../assets/images/PV_pm.png');
}

.deployPage {
    background-image: url('../assets/images/PV_deploy.png');
}

.contactPage {
    background-image: url('../assets/images/PV_contact.png');
}