.contactBtn {
    position: relative;
    padding: 2vh 2vw;
    margin: 0;
    border-color: var(--darkColor3);
    background-color: var(--darkColor1);
    color: var(--darkColor3);
    border: solid 2px;
    border-radius: 5px;
    font-family: 'BungeeInline';
    font-size: 1rem;

}

.contactBtn:hover {
    font-family: 'BungeeInline';
    box-shadow: 0px 0px 2px .5px var(--darkTitle);
    background-color: var(--darkColor2);
    color: var(--darkTitle);
}