.pageContainer {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    color: var(--darkColor3);
    align-items: center;
    justify-content: center;
}

.headingContainer {
    position: relative;
    padding: 3vh 3vw;
    background-color: var(--darkColor2);
    font-family: 'Akronim';
    font-size: 3rem;
    color: #fdfcdc;
}

.contentContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    justify-content: space-around;
    padding: 1vh 1vw;

}

.contentContainerLeft {
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.tipContainer {
    position: bottom;
    padding-bottom: 2vh;
}