.landingContainer {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    color: var(--darkColor3);
    align-items: center;
    justify-content: center;
}

.inlineTextContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* .inlineText {
    align-content: center;
} */

.inlineTextDecorated {
    font-family: 'Akronim';
    font-size: 5vw;
    margin-left: 2vw;
    margin-right: 1vw;
    padding: 0.5vh 1vw;
    align-content: center;
    color: var(--darkTitle);
}

.inlineTextDecoratedBg {
    /* width: 240px;
    height: 240px; */
    background-color: var(--darkColor3);
    background-image: linear-gradient(90deg, transparent 50%, var(--darkColor1) 50%);
    background-size: .3vw;
    background-repeat: repeat;
}

.contentContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    justify-content: space-around;
    padding: 1vh 1vw;

}

.contentContainerLeft {
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.contentContainerAvatar {
    background-image: url('../src/assets/images/PV_hi.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 25vh;
    width: 15vw;
    top: -50px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.tipContainer {
    position: bottom;
    padding-bottom: 2vh;
}