.landingContainer {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    color: var(--darkColor3);
    align-items: center;
    justify-content: center;
}

.preHeadingContainer {
    padding-top: 50px;
}

.headingContainer {
    position: relative;
    padding: 3vh 3vw;
    background-color: var(--darkColor2);
    font-family: 'Akronim';
    font-size: 3rem;
    color: #fdfcdc;
}

.trippyBackground {

    --s: 30px;
    /* control the size */
    --c: var(--darkColor3);
    /* first color */

    --_g: #0000 8%, var(--c) 0 17%, #0000 0 58%;
    background:
        linear-gradient(135deg, #0000 20.5%, var(--c) 0 29.5%, #0000 0) 0 calc(var(--s)/4),
        linear-gradient(45deg, var(--_g)) calc(var(--s)/2) 0,
        linear-gradient(135deg, var(--_g), var(--c) 0 67%, #0000 0),
        linear-gradient(45deg, var(--_g), var(--c) 0 67%, #0000 0 83%, var(--c) 0 92%, #0000 0),
        var(--darkColor2);
    /* second color */
    background-size: var(--s) var(--s);
}

.contentContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    justify-content: space-around;
    padding: 1vh 1vw;

}

.contentContainerLeft {
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.contentContainerAvatar {
    background-image: url('../src/assets/images/PV_hi.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 25vh;
    width: 15vw;
    top: -50px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.tipContainer {
    position: bottom;
    padding-bottom: 2vh;
}