@font-face {
    font-family: 'Bayon';
    src: local('Bayon'), url('./assets/fonts/Bayon-Regular.ttf');
}

@font-face {
    font-family: 'Alata';
    src: local('Alata'), url('./assets/fonts/Alata-Regular.ttf');
}

@font-face {
    font-family: 'Chilanka';
    src: local('Chilanka'), url('./assets/fonts/Chilanka-Regular.ttf');
}

@font-face {
    font-family: 'Tourney';
    src: local('Tourney'), url('./assets/fonts/Tourney-VariableFont.ttf');
}

@font-face {
    font-family: 'Bebas';
    src: local('BebasNeue'), url('./assets/fonts/BebasNeue-Regular.ttf');
}

:root {
    --darkColor1: #211F1F;
    --darkColor2: #8A5428;
    --darkColor3: #ADADAD;
    --lightColor1: #ADADAD;
    --lightColor2: #8A5428;
    --lightColor3: #211F1F;
}

html body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Alata';
    text-align: center;
    font-size: 3vh;
    letter-spacing: .15em;
}