@font-face {
    font-family: 'BungeeInline';
    src: local('BungeeInline'), url('./assets/fonts/BungeeInline-Regular.ttf');
}

@font-face {
    font-family: 'Bungee';
    src: local('Bungee'), url('./assets/fonts/BungeeShade-Regular.ttf');
}

@font-face {
    font-family: 'Mono';
    src: local('Mono'), url('./assets/fonts/B612Mono-Regular.ttf');
}

@font-face {
    font-family: 'MonoBold';
    src: local('MonoBold'), url('./assets/fonts/B612Mono-Bold.ttf');
}

@font-face {
    font-family: 'Carrois';
    src: local('Carrois'), url('./assets/fonts/CarroisGothicSC-Regular.ttf');
}

:root {
    --darkColor1: #211F1F;
    --darkColor2: #8A5428;
    --darkColor3: #ADADAD;
    --darkTitle: #fdfcdc;
    --lightColor1: #ADADAD;
    --lightColor2: #8A5428;
    --lightColor3: #211F1F;
    --lightTitle: #fdfcdc;
}

html body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'BungeeInline';
    text-align: center;
    font-size: 2.5vh;
    letter-spacing: .25em;
}